html{
    height: 100%;
}
/*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
/*}*/

/*main {*/
    /*flex: 1 0 auto;*/
/*}*/

#navWrap {
    height: 464px;
}
#extender{
    position: relative;
    height: 400px;
}

#downBut{
    position: absolute;
    right: calc(50% - 75.703px);
    top:50%;
}

.brand-logo{
    left: 50px;
}

#titleBox{
    width: 100%;
    height: 100%;
}

#title{
    width: 100%;
    margin-top:-64px;
}

#titleRow {
    margin-top: 50px;
    margin-bottom: -10px;
}

.titleText {
    text-align: center;
}

.titleImg {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*@media (max-width: 992px){*/
    /*nav{*/
        /*height: 150px !important;*/
    /*}*/
    /*.brand-logo{*/
        /*font-size: 100px;*/
    /*}*/
/*}*/

